<div class="container text-center" style="margin-top: 70px">
  <h1 style="margin-bottom: 40px">Your score:</h1>
  <h2>Your word: <b><%= @word %></b></h2>
  <h2>Time taken to answer: <b><%= @score[:time] %> sec</b></h2>
  <h2>Translation to french: <b><%= @score[:translation] %></b></h2>
  <h2>Your score: <b><%= @score[:score] %></b></h2>
  <h1 style="margin-top: 40px"><b style="font-size: 100px"><%= @score[:message] %></b></h1>
</div>
